body {
	background-color: #00b99e;
}

.principe {
	display: inline;
	text-align: center;
	font-size: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Baloo Da', cursive;
	color: rgb(50,50,50);
}

.annonce {
	color: rgb(50,50,50);
	font-family: 'Baloo Da', cursive;
	display: inline;
	text-align: center;
	font-size : 25px;
	padding-top: 20px;
	background-color: #59E3E2;
	border-radius: 20px 20px 0 0;
}

.fiches {
	font-size : 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #59E3E2;
}

.mchoix {
	color: rgb(50,50,50);
	font-family: 'Baloo Da', cursive;
	font-size: 20px;
	display: inline;
	text-align: center;
	font-size : 25px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.map_size{
    height: 100%;
    margin: 0;
    padding: 0;
}

#zootopie {
    height: 100%;
}

.title{
    font-family: 'Baloo Da', cursive;
    font-size: 2em;
    color:#267AA8;
    text-align:center;
}

.sub_title{
    margin-bottom:1em;
    font-family: 'Baloo Da', cursive;
    font-size: 1.3em;
    color:#FF9900;
    text-align:center;
}

h5, h4 {
    margin-bottom:0.8em;
    font-family: 'Baloo Da', cursive;
    font-size: 1.3em;
    color:black;
    text-align:center;
}

h3 {
    margin-bottom:0.6em;
    font-size: 1.3em;
    color:black;
    text-align:center;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn2{
    display: block;
    margin-right: 66px;
}

.fiches {
	padding-left: 50px;
	padding-right: 50px;
}

.personnage{
    float: left;
    width: 180px;
    height: 300px;
    margin: 0 1em 1em 0;
}

.perso {
	background-color: #00BBB3;
	height: 300px;
	padding-top: 10px;
	padding-left: 15px;
	margin-top: 30px;
}

.name {
padding-bottom: 10px;
}

.choix {
	padding-bottom: 30px;
	display: inline;
	text-align: center;
}

.info {
    width: 500px;
}
.carac {
	padding-top: 30px;
}

.flash{
    width:250px;
}

.head_capture{
    background-color: #59E3E2;
}

.capture{
    background-color: #fff;
	position: relative;
    width:600px;
    height:380px;
}

#menottes{
	position: absolute;
	background:url(img/handcuffs.png);
	width:64px;
	height:64px;
}

#select_perso{
	background:url(img/nick1.png);
}