body {
	background-color: #00b99e;
	color: white;
}

.principe {
	display: inline;
	text-align: center;
	font-size: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Baloo Da', cursive;
	color: rgb(50,50,50);
}

.annonce {
	color: rgb(50,50,50);
	font-family: 'Baloo Da', cursive;
	display: inline;
	text-align: center;
	font-size : 25px;
	padding-top: 20px;
	background-color: #59E3E2;
	border-radius: 20px 20px 0 0;
}

.fiches {
	font-size : 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #59E3E2;
	height: 1000px;
}

.choix {
	color: rgb(50,50,50);
	font-family: 'Baloo Da', cursive;
	font-size: 20px;
	display: inline;
	text-align: center;
	font-size : 25px;
	padding-top: 30px;
	padding-bottom: 30px;
}